Options -Indexes

<IfModule mod_php.c>
    php_flag display_errors off
</IfModule>

<FilesMatch "\.(sql|md|lock|log)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>
